@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    font-family: nunito, 'sans-serif';
    font-size: 120%;
    background-image: url("../images/stadium3.png");
    background-size: cover;
    background-attachment: fixed;
    
}

.content {
    background-color: rgba(222, 221, 221, 0.7);
    box-sizing: border-box;
    width: 80%;
    height: 75vh;
    margin-top: 11%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}

.main-heading {
   padding-top: 5%;
    text-align: center;
}


.button {
    text-align: center;
    padding-top: 10%;
}

#button1, #button2 {
    background-size: contain;
    padding: 8%;
    background-image: url(../images/football500.png);
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: 400;
}

a {
    text-decoration: none;
}

#button1:hover, #button2:hover {
    padding: 9.5%;
}

@media screen and (max-width: 500px) {

 .content {
     height: 75vh;
 }
    
.button {
    display: grid;

}

#button1, #button2 {
    margin: 4%;
}
}

/* CSS for game.html */

.choice-container {
    margin-left: 10%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background: grey;
    width: 80%;
    height: 3rem;
}

.choice-container:hover {
    padding: 0.2%;
}

.choice-prefix {
    color: #FFFFFF;
    padding: 1rem;
}
/*
.choice-text {
    padding: 2rem;
    width: 100%;
}
*/

.correct-answer {
    background: greenyellow;
}

.incorrect-answer {
    background: red;
}

/* hud */

#hud {
    display: flex;
    justify-content: space-evenly;
}

.hud-prefix {
    text-align: center;
    font-size: 150%;
    margin-left: 20%;
}

.hud-main-text {
    text-align: center;
    margin-left: 40%;
    margin-top: -10%;
}

.hud-item {
    margin-right: 8%;
    margin-bottom: -2%;
}

#progress-bar {
    width: 200px;
    height: 2rem;
    border: 0.1rem solid greenyellow;
    border-radius: 50px;
    overflow: hidden;
    margin-left: 10%;
}

#progress-bar-full {
    height: 100%;
    background: greenyellow;
    width: 0%;
}

#question {
    font-size: 100%;
    margin-left: 10%;
    margin-top: 2%;
}

/* css for game.html screens under 500px */

@media screen and (max-width: 500px) {

    .hud-prefix { 
        font-size: 100%;
        padding-right: 20%;
    }

    #progress-bar {
        width: 100px;
        margin-left: 15%;
    }

    .hud-main-text {
        font-size: 150%;
    }

    .hud-item {
        margin-bottom: 10%;
    }
}


